*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Inter,sans-serif;

background:
linear-gradient(
135deg,
#0f172a,
#1e1b4b,
#020617
);

min-height:100vh;

color:white;

padding:40px;
}

.container{
width:95%;
margin:auto;
}

.header{

text-align:center;

padding:50px;

border-radius:20px;

background:
rgba(255,255,255,.05);

backdrop-filter:blur(10px);

margin-bottom:30px;
}

.header h1{

font-size:60px;

background:
linear-gradient(
90deg,
#9b5cff,
#ff00ff
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.card{

background:
rgba(255,255,255,.05);

padding:30px;

border-radius:20px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th{

background:#5546ff;

padding:15px;
}

td{

padding:15px;

border-bottom:
1px solid rgba(255,255,255,.1);
}

.action{
margin:20px 0;
}

.btn-add,
.btn-export{

padding:12px 20px;

text-decoration:none;

border-radius:12px;

font-weight:bold;
}

.btn-add{
background:#c026d3;
color:white;
}

.btn-export{
background:#22c55e;
color:black;
}

.form-box{

max-width:600px;

margin:auto;

background:
rgba(255,255,255,.05);

padding:30px;

border-radius:20px;
}

input{

width:100%;

padding:12px;

margin-top:10px;

margin-bottom:15px;

border:none;

border-radius:10px;
}

button{

width:100%;

padding:15px;

background:#5546ff;

color:white;

border:none;

border-radius:10px;
}

.success{
text-align:center;
color:#22c55e;
}

.error{
text-align:center;
color:#ef4444;
}
