*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Inter,sans-serif;

background:
linear-gradient(
135deg,
#0f172a,
#1e1b4b,
#020617
);

min-height:100vh;

color:white;

padding:40px;
}

.container{
width:95%;
margin:auto;
}

.header{

text-align:center;

padding:50px;

border-radius:20px;

background:
rgba(255,255,255,.05);

backdrop-filter:blur(10px);

margin-bottom:30px;
}

.header h1{

font-size:60px;

background:
linear-gradient(
90deg,
#9b5cff,
#ff00ff
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.card{

background:
rgba(255,255,255,.05);

padding:30px;

border-radius:20px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th{

background:#5546ff;

padding:15px;
}

td{

padding:15px;

border-bottom:
1px solid rgba(255,255,255,.1);
}

.action{
margin:20px 0;
}

.btn-add,
.btn-export{

padding:12px 20px;

text-decoration:none;

border-radius:12px;

font-weight:bold;
}

.btn-add{
background:#c026d3;
color:white;
}

.btn-export{
background:#22c55e;
color:black;
}

.form-box{

max-width:600px;

margin:auto;

background:
rgba(255,255,255,.05);

padding:30px;

border-radius:20px;
}

input{

width:100%;

padding:12px;

margin-top:10px;

margin-bottom:15px;

border:none;

border-radius:10px;
}

button{

width:100%;

padding:15px;

background:#5546ff;

color:white;

border:none;

border-radius:10px;
}

.success{
text-align:center;
color:#22c55e;
}

.error{
text-align:center;
color:#ef4444;
}

.verify-card{
    max-width:900px;
    margin:50px auto;
    padding:40px;
    border-radius:20px;
    text-align:center;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
    border:1px solid rgba(255,255,255,0.1);
}

.success-card{
    box-shadow:0 0 30px rgba(0,255,150,0.3);
}

.verify-icon{
    font-size:80px;
    margin-bottom:20px;
}

.verify-card h1{
    margin-bottom:20px;
    color:#22c55e;
}

.verify-message{
    line-height:1.8;
    margin-bottom:30px;
    color:#d1d5db;
}

.hash-box{
    background:rgba(0,0,0,0.3);
    padding:20px;
    border-radius:15px;
    margin:25px 0;
}

.hash-box h3{
    margin-bottom:10px;
    color:#38bdf8;
}

.hash-box code{
    display:block;
    word-wrap:break-word;
    color:#f8fafc;
}

.info-box{
    margin-top:25px;
    text-align:left;
    display:inline-block;
}

.info-box p{
    margin:10px 0;
    color:#a7f3d0;
}

.btn-group{
    margin-top:35px;
}

.btn-home{
    display:inline-block;
    padding:14px 28px;
    border-radius:12px;
    text-decoration:none;
    font-weight:600;
    color:white;
    background:linear-gradient(
        90deg,
        #7c3aed,
        #06b6d4
    );
    transition:0.3s;
}

.btn-home:hover{
    transform:translateY(-3px);
    box-shadow:0 0 20px rgba(124,58,237,0.5);
}

.btn-preview{
background:#06b6d4;
color:white;
padding:12px 20px;
border-radius:12px;
text-decoration:none;
font-weight:bold;
margin:0 10px;
}


