*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI';
}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(
135deg,
#020024,
#090979,
#00d4ff
);

color:white;
}

.container{

width:700px;

padding:40px;

background:
rgba(255,255,255,0.08);

backdrop-filter:
blur(20px);

border-radius:25px;

box-shadow:
0 0 30px cyan;
}

h1{

text-align:center;

margin-bottom:20px;

color:#ff00ff;
}

input{

width:100%;

padding:15px;

margin-top:20px;

background:#111827;

border:none;

border-radius:10px;

color:white;
}

button{

width:100%;

padding:15px;

margin-top:20px;

border:none;

border-radius:10px;

cursor:pointer;

background:
linear-gradient(
90deg,
#ff00ff,
#00ffff
);

color:white;

font-size:18px;
}

table{

width:100%;

margin-top:20px;
}

td{

padding:10px;

border-bottom:
1px solid rgba(255,255,255,0.2);
}

img{

margin-top:20px;
}