body{

background:
linear-gradient(
135deg,
#020024,
#090979,
#00d4ff
);

font-family:
Segoe UI;

color:white;

min-height:100vh;
}

.container{

width:90%;

margin:auto;

padding:30px;
}

table{

width:100%;

border-collapse:collapse;

backdrop-filter:blur(10px);

background:
rgba(255,255,255,.05);
}

td,th{

padding:15px;

border-bottom:
1px solid rgba(
255,255,255,.2);
}

.btn{

padding:12px 20px;

background:
linear-gradient(
45deg,
#ff00ff,
#00ffff);

border-radius:10px;

text-decoration:none;

color:white;
}

.form-card{

width:500px;

margin:auto;

padding:30px;

backdrop-filter:
blur(15px);

background:
rgba(255,255,255,.05);

box-shadow:
0 0 30px cyan;
}