{% extends 'base.html' %}

{% block content %}

<div class="form-box">

<h2>Tambah Daftar Lagu</h2>

<form method="POST">

<input name="judul" placeholder="Judul Lagu" required>

<input name="penyanyi" placeholder="Penyanyi" required>

<input name="negara" placeholder="Negara" required>

<input name="genre" placeholder="Genre" required>

<input name="tahun" placeholder="Tahun" required>

<button>Simpan Lagu</button>

</form>



<div class="btn-group">

        <a href="{{ url_for('index') }}" class="btn-home">
            🏠 Kembali ke Halaman Utama
        </a>

</div>

</div>
{% endblock %}
