{% extends 'base.html' %}

{% block content %}

<div class="header">

<h1>🎵 <span>Alunan</span> Amerta</h1>

<p>
Mengelola Koleksi Lagu dengan
Digital Signature SHA-256
</p>

</div>

<div class="card">

<h2>Koleksi Lagu Terdaftar</h2>

<div class="action">

<a href="/add" class="btn-add">
Tambah Daftar Lagu
</a>

<a href="/export" class="btn-export">
Export PDF (Signed)
</a>

</div>

<table>

<tr>
<th>No</th>
<th>Judul Lagu</th>
<th>Penyanyi</th>
<th>Negara</th>
<th>Genre</th>
<th>Tahun</th>
<th>Aksi</th>
</tr>

{% for s in songs %}
<tr>

<td>{{ loop.index }}</td>
<td>{{ s.judul }}</td>
<td>{{ s.penyanyi }}</td>
<td>{{ s.negara }}</td>
<td>{{ s.genre }}</td>
<td>{{ s.tahun }}</td>

<td>

<a href="/edit/{{ loop.index0 }}">
✏️
</a>

<a href="/delete/{{ loop.index0 }}">
🗑️
</a>

</td>

</tr>
{% endfor %}

</table>

</div>

{% endblock %}
