<!DOCTYPE html>
<html>
<head>
<title>LibSigManager</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

<h1>📚 LibSigManager</h1>

<a href="/tambah" class="btn">Tambah Buku</a>
<a href="/export" class="btn hijau">Export PDF</a>

<h2>Koleksi Buku Terdaftar</h2>

<table>

<tr>
<th>No</th>
<th>Judul</th>
<th>Penulis</th>
<th>Penerbit</th>
<th>Aksi</th>
</tr>

{% for b in buku %}
<tr>

<td>{{ loop.index }}</td>
<td>{{ b.judul }}</td>
<td>{{ b.penulis }}</td>
<td>{{ b.penerbit }}</td>

<td>
<a href="/edit/{{ b.id }}">Edit</a>
<a href="/hapus/{{ b.id }}">Hapus</a>
</td>

</tr>
{% endfor %}

</table>

</div>

</body>
</html>
